<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="container">
        <h1>Diabetic Retinopathy Detection</h1>
        <form method="POST" enctype="multipart/form-data">
          <input type="file" id="image-input" name='file' accept="image/*">
          <br>
          <br>
          <button id="prediction-btn">Predict</button>
        </form>
        {% if message%}
          <p>{{ message }}</p>
        {% endif %}
        {% if image_file %}
          <img id="input-image" src="{{ image_file }}" alt="Uploaded Image">
        {% endif %}
        
    </div>
</body>
</html>