<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
        background-color: rgb(135, 73, 243);
        }
        
        .heading {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="heading">
        <h2><b>DIABETIC RETINOPATHY DETECTION</b></h2>
    </div>

    <div>
        <input type="file">
    </div>
</body>
</html>